<form method="post" action="/memos/<%= @id %>">
  <input name="_method" type="hidden" value="patch">
  <div>
    Title<br>
    <input required type="text" name="title" value="<%= @title %>">
  </div>
  <div>
    Memo<br>
    <textarea name="memo" required><%= @memo %></textarea>
  </div>
  <button type="submit">変更</button>
</form>
