
<form method="post" action="/edit/<%= @select_id %>">
  <input name="_method" type="hidden" value="patch">
  <div>
  <input required type="text" name="title" value="<%= @select_title %>">
  </div>
  <div>
  <textarea name="memo" required><%= @select_memo %></textarea>
  </div>
  <button type="submit">変更</button>
</form>  