<form method="post" action="/memos/<%= @select[:id] %>">
  <input name="_method" type="hidden" value="patch">
  <div>
    <input required type="text" name="title" value="<%= @select[:title] %>">
  </div>
  <div>
    <textarea name="memo" required ><%= @select[:memo] %></textarea>
  </div>
  <button type="submit">変更</button>
</form>