<% if @memos %>
  <ul>
    <% @memos.each do |memo| %>
      <li>
        <a href="/memos/<%= memo[0] %>"><%= memo[1] %></a>
      </li>
    <% end %>
  </ul>
<% end %>
<form method="get" action="/memos">
  <button type="submit">追加</button></a><br>
</form>