<% unless @memo_file == nil %>
  <ul>
  <% @memo_file.each do |memo| %>
    <li>
    <a href="/showmemo/<%= memo[0] %>"><%= memo[1] %></a>
    </li>
  <% end %>
  </ul>
<% end %>

<a href="/newmemo"><button>追加</button></a><br>
