<form method="post" action="/memos">
  <div>
    Title<br>
    <input required type="text" name="title">
  </div>
  <div>
    Memo<br>
    <textarea name="memo" required></textarea>
  </div>
  <input type="submit" value="保存">
</form>
