<h2><%= @select[:title] %></h2>
<p>
  <%= @select[:memo] %>
</p>
<form method="get" action="/memos/<%= @select[:id] %>/edit">
  <button type="submit">変更</button>
</form>
<form method="post" action="/memos/<%= @select[:id] %>">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">削除</button>
</form>