
<h2><%= @select_title %></h2>
<p>
<%= @select_memo %>
</p>
<form method="get" action="/showmemo/<%= @select_id %>/edit">
  <button type="submit">変更</button>
</form>  
<form method="post" action="/deletememo/<%= @select_id %>">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">削除</button>
</form>  
