<h2><%= @title %></h2>
<p>
  <%= @memo %>
</p>
<form method="get" action="/memos/<%= @id %>/edit">
  <button type="submit">変更</button>
</form>
<form method="post" action="/memos/<%= @id %>">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">削除</button>
</form>
